{% extends "layouts/base.njk" %}

{%set title %}{{sitePage.title | safe}}{%endset%}

{% if sitePage.description %}
  {%set description %}{{sitePage.description | safe}}{%endset%}
{%endif%}

{% block gridMiddleRight %}
  <div class="grid-right-content">
    <div class="grid-right-text-container">
      <div class="grid-right-text-content">
        <div class="grid-right-text-spacer"></div>
        <div class="grid-right-text">
          {{ sitePage.contents | markdownify | safe }}
        </div>
      </div>
    </div>
  </div>
{%endblock%}