---
permalink: /_redirects
eleventyExcludeFromCollections: true
---

# Redirects home to main site
/home / 301!
{%for redirect in home.redirects%}
/{{ redirect.redirectFrom.current }} /{{redirect.redirectTo.slug}} 301!
{% endfor%}
# Redirects nonexistent pages to home
/* /home 301